<header class="site-header">
  <a class="brand" href="/" title="Home">
    <span class="brand__name">CSE Motors</span>
  </a>

  <a class="tools__link" href="#" aria-label="My Account">My Account</a>
</header>

<%- nav %>
