<header class="site-header">
  <a class="brand" href="/" aria-label="CSE Motors Home">
    <span class="brand__name">CSE Motors</span>
  </a>

  <div class="tools">
    <a class="tools__link" href="/account/login">My Account</a>
  </div>
</header>
