<%- include("./head") %>

<header class="site-header">
  <a class="brand" href="/" aria-label="Home">
    <span class="brand__name">CSE Motors</span>
  </a>

  <div class="tools">
    <a class="tools__link" href="#" title="My Account">My Account</a>
  </div>
</header>

<%- nav %>
