<nav class="site-nav" aria-label="Primary navigation">
  <ul class="nav-list">
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="#" class="nav-link">Custom</a></li>
    <li><a href="#" class="nav-link">Sedan</a></li>
    <li><a href="#" class="nav-link">SUV</a></li>
    <li><a href="#" class="nav-link">Truck</a></li>
  </ul>
</nav>
