<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <header>
    <%- include('partials/navigation') %>
  </header>
  <main>
    <h1>Bienvenido al sitio MVC</h1>
  </main>
</body>
</html>
