<h1><%= title %></h1>

<%- messages() %>

<section class="inventory-management">
  <p>
    <a href="/inv/add-classification">Add New Classification</a>
  </p>

  <p>
    <a href="/inv/add-inventory">Add New Inventory Item</a>
  </p>

  <hr>

  <h2>Manage Inventory</h2>

  <p>
    Select a classification to view inventory items.
  </p>

  <label for="classificationList">Classification</label>
  <%- classificationList %>

  <div id="inventoryDisplay"></div>
</section>

<script src="/js/inventory.js"></script>
