<h1>Inventory Management</h1>

<%- messages() %>

<p>Choose an option below to manage inventory tasks:</p>

<ul>
  <li>
    <a href="/inv/add-classification">Add New Classification</a>
  </li>
  <li>
    <a href="/inv/add-inventory">Add New Inventory Item</a>
  </li>
</ul>
